<div class="container">
  <h3>Cursos Disponibles</h3>
  <hr>
  <ul>
    <li *ngFor="let curso of cursos"><h4>{{curso}}</h4></li>
  </ul>
  <table class="table table-striped table-bordered tabla">
      <thead>
        <tr>
          <td>ID</td>
          <td>NOMBRE</td>
          <td>APELLIDOS</td>
          <td>CIUDAD</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{alumno.id}}</td>
          <td>{{alumno.nombre}}</td>
          <td>{{alumno.apellidos}}</td>
          <td>{{alumno.ciudad}}</td>
        </tr>
      </tbody>
  </table>
</div>
